<div class="comments-container">
    <h3>Comments</h3>
    <div *ngFor="let comment of comments" class="comment-item">
    <strong>{{ comment.name }}</strong>
    <p>{{ comment.text }}</p>
    </div>

    <div class="add-comment">
    <h4>Add a Comment</h4>
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label for="author">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="newComment.name" required>
    </div>
    <div class="form-group">
    <label for="commentText">Comment</label>
    <textarea id="commentText" type="text" name="commentText" [(ngModel)]="newComment.text" required></textarea>
    </div>
    <button type="submit" (click)="onSubmit()">Submit Comment</button>
    </form>
    </div>
    </div>
